[Unit]
Description=Blog

[Service]
ExecStart=/root/project/blog/start.sh
Restart=always
User=root
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/root/project/blog

[Install]
WantedBy=multi-user.target
